* {
  font-size:20;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header-img{
  width:30%;
  margin-right:30%;
  display:flex;
}
#header{
  position: fixed;
  top: 0;
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,0,.2);
}
#nav-bar ul{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#main{
  margin-top:100px;
}
#info-img{
  width:120px;
  height:70px;
}
#info div{
  display: flex;
}
#footer{
  display: flex;
  justify-content: flex-end;
}
#footer-ul{
  display: flex;
  width: 240px;
  justify-content: space-around;
}
a{
  color:black;
  text-decoration: none;
}
#form h1{
  margin-bottom:20px;
}
#submit{
  font-size:28px;
  font-style: italic;
  margin-top:10px;
  padding:4px;
  padding-left:30px;
  padding-right:30px;
  border:1px solid rgb(200,200,0);
  border-radius:3px;
  background-color:rgb(240,240,0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
td{
  padding-bottom:30px;
}
#info-img{
  margin-right:5px;
  margin-left:100px;
  padding-left:30px;
}
td p{
  margin-right:1px;
}
table{
  margin-top:100px;
  margin-bottom:50px;
}
#how-it-works{
  padding-right:30px;
  margin-left:140px;
  margin-bottom:50px;
}
#video{
  height:300;
  width:600;
  margin-bottom:40px;
  border-radius:5px;
}
#footer{
  padding-top:20px;
  padding-bottom:10px;
  background-color:rgba(0,0,0,.1);
}
body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcixl3T8V8NhCm63iABrrNE4i0ECTtzisZGg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
a:hover{
  color:rgb(0,100,200);
  font-size:21;
  font-weight:bold;
  font-style: italic;
}
#submit:hover{
  font-size:32px;
  font-style: italic;
  border:1px solid rgb(200,200,0);
  border-radius:3px;
  background-color:rgb(240,240,0);
}
#email{
  padding-left:10px;
  border-radius:5px;
  height:35px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#email:focus{
  border: 3px solid rgba(0,127,255,0.7);
}
@media (max-width: 12450px) {
  /* … */
}
#pricing{
  margin-bottom:200px;
}
.head{
  background-color:rgba(127,127,127,.4);
  padding-top:10px;
  padding-left:90px;
  padding-right:90px;
  padding-bottom:10px;
}
.tab{
  text-align: center;
  border:1px solid rgba(0,0,0,.6);
  border-radius:5px;
}
.tab h2,.tab dl,.tab-in{
  margin-top:30px;
}
.tab-in{
  margin-bottom:20px;
  padding:5px;
  border:1px solid rgba(200,200,0,.7);
  border-radius:3px;
  background-color:rgba(240,240,0,.7);
}
.space{
  padding-left:50px;
}
