#navbar{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 98%;
  height:50px;
  background-color:gray;
}
ul{
  list-style: none;
  display: flex;
}
li{
  margin-right:10px;
}
#main{
  padding-top:10%;
  margin: auto;
  width: 50%;
  text-align:center;
}
@media (max-width: 420px) {

}
